In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import plotly as py
import plotly.express as px
import plotly.graph_objects as go
import surprise as sp
import dask.dataframe as dd
import scipy
import os
import re
import datetime
import warnings

from collections import defaultdict
from wordcloud import WordCloud
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
df_users = pd.read_csv('../Datasets/myanimelist/users_filtered.csv')
df_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116133 entries, 0 to 116132
Data columns (total 17 columns):
username                    116132 non-null object
user_id                     116133 non-null int64
user_watching               116133 non-null int64
user_completed              116133 non-null int64
user_onhold                 116133 non-null int64
user_dropped                116133 non-null int64
user_plantowatch            116133 non-null int64
user_days_spent_watching    116133 non-null float64
gender                      116133 non-null object
location                    116127 non-null object
birth_date                  116133 non-null object
access_rank                 0 non-null float64
join_date                   116133 non-null object
last_online                 116133 non-null object
stats_mean_score            116133 non-null float64
stats_rewatched             116133 non-null float64
stats_episodes              116133 non-null float64
dtypes: float64(5), int64(6), object(6)
memory usage: 15.1+ MB

In [4]:
df_anime = pd.read_csv('../Datasets/myanimelist/anime_filtered.csv')
df_anime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14474 entries, 0 to 14473
Data columns (total 31 columns):
anime_id          14474 non-null int64
title             14474 non-null object
title_english     5723 non-null object
title_japanese    14440 non-null object
title_synonyms    8936 non-null object
image_url         14378 non-null object
type              14474 non-null object
source            14474 non-null object
episodes          14474 non-null int64
status            14474 non-null object
airing            14474 non-null bool
aired_string      14474 non-null object
aired             14474 non-null object
duration          14474 non-null object
rating            14474 non-null object
score             14474 non-null float64
scored_by         14474 non-null int64
rank              12901 non-null float64
popularity        14474 non-null int64
members           14474 non-null int64
favorites         14474 non-null int64
background        1057 non-null object
premiered         4096 non-null object
broadcast         4271 non-null object
related           14474 non-null object
producer          8288 non-null object
licensor          3373 non-null object
studio            8544 non-null object
genre             14410 non-null object
opening_theme     14474 non-null object
ending_theme      14474 non-null object
dtypes: bool(1), float64(2), int64(6), object(22)
memory usage: 3.3+ MB

In [8]:
df_lists = dd.read_csv('../Datasets/myanimelist/animelists_filtered.csv')
df_lists.head(3)

,username,anime_id,my_watched_episodes,my_start_date,my_finish_date,my_score,my_status,my_rewatching,my_rewatching_ep,my_last_updated,my_tags
0,karthiga,21,586,0000-00-00,0000-00-00,9,1,NaN,0,1362307973,NaN
1,RedvelvetDaisuki,21,0,0000-00-00,0000-00-00,0,3,0.0,0,1355480701,NaN
2,Damonashu,21,418,0000-00-00,0000-00-00,10,1,0.0,0,1254296345,NaN

In [ ]:
!jt -r